/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  height: 100%;
  margin: 0; /* 去掉默认的 margin */
  padding: 0; /* 去掉默认的 padding */
}
